  <%= flash[:notice] %>

  <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
    <div class="field form-group">
          <%= form.label :name %>
        <%= form.text_field :name, size: 30, class: "create_input", placeholder: "Enter Your Name" %><br>
    </div>
    <div class="field form-group">
        <%= form.label :email %>
        <%= form.text_field :email, size: 30, class: "create_input", placeholder: "Enter Your Email" %><br>
    </div>
    <div class="field form-group">
        <%= form.label :message %>
        <%= form.text_field :message, size: 30, rows: 10, class: "create_input", placeholder: "Enter Your Message" %><br><br>
    </div>
    <div class="actions">
      <%= form.submit "Send", class: "btn btn-light form_label" %>
      <% end %>
    </div>
