<section class="container back">
    <h1>Contact us</h1>
  <div class="row">
    <p>We are happy to help, if you have any further questions. Get in touch:</p>
    <div class="col-md-6 col-sm-12">
      <%= flash[:notice] %>
      <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
        <div class="field form-group">
              <%= form.label :name %>
            <%= form.text_field :name, size: 30, class: "form-control create_input", placeholder: "Enter Your Name", required: true %><br>
        </div>
        <div class="field form-group">
            <%= form.label :email %>
            <%= form.email_field :email, size: 30, class: "form-control create_input", placeholder: "Enter Your Email", required: true %><br>
        </div>
        <div class="field form-group">
            <%= form.label :message %>
            <%= form.text_area :message, cols: 30, rows: 10, class: "form-control descrip_input", placeholder: "Enter Your Message", required: true %><br><br>
        </div>
        <div class="actions">
          <%= form.submit "Send", class: "btn btn-light form_label" %>
          <% end %>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div>
      <p>Give us a call:<br> <i class="fas fa-phone-square"><br></i> 030 12345 234<br><br>
        You want to meet the crew? <br>Come along:<br>
        <i class="fas fa-broadcast-tower"></i> Alexanderplatz 44, 444444 Berlin
      </p>
    </div><!-- /adress-->
  </div>
  </div><!-- /row-->

</section>
