<section class="container">
  <header>
    <h2> Featured Product:</h2>
  </heder>
  <%= @featured_product.name %><br>
  <%= @featured_product.image_url %><br>
  <%= @featured_product.description %><br>
  <%= @featured_product.color %><br>
  <%= @featured_product.price %>$
</section>
