<section class="container back">
  <h1>Orders</h1>
  <% if @orders.count == 0 %>
  <h3>You have not placed any orders yet!</h3>
  <% end %>

  <% @orders.each do |order| %>
    <div class="col-sm">
      <h1>Your Order # <%= order.id %>: <%= link_to order.product.name, order %>
      </h1>
      <%= link_to image_tag(order.product.image_url, class: "container img-responsive"), order %>
       <p><%= order.product.description %><br><br>
        <strong>$ <%= order.product.display_price %></strong>
      </p>
    </div><!-- /col -->
  <% end %>
</section>
